/*@keyframes move {*/
/*    0% {*/
/*        transform: translate(0px, 0px);*/
/*        background-color: red;*/
/*    }*/

/*    20%{*/
/*        background-color: orange;*/
/*        transform: translate(200px, 0px);*/
/*    }*/

/*    60%{*/
/*        background-color: blue;*/
/*        transform: translate(200px, 200px);*/
/*    }*/

/*    80%{*/
/*        background-color: blue;*/
/*        transform: translate(0px, 200px);*/
/*    }*/

/*    100% {*/
/*        transform: translate(200px, 0px);*/
/*        border-radius: 50%;*/
/*        background-color: yellowgreen;*/
/*    }*/
/*}*/

/*#background__color__change{*/
/*    !*background-color: red;*!*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    animation: move 3s ease-in-out infinite;*/
/*    !*transition: 0.2s ease-in-out;*!*/

/*}*/

/*!*#background__color__change:hover{*!*/
/*!*    background-color: blue;*!*/

/*!*}*!*/


#mobile_menu{
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    display: none;

}
#mobile_cta{
    display: none;
}

#print{
    display: none;
}

@media screen and (max-width: 500px) {
    #mobile_cta{
        display: block;
    }
    #web_menu{
        display: none;
    }
    #rotate{
        display: none;
    }
}
@media print {
    #print{
        display: block;
    }
}
.show{
    /*!important overrides all*/
    display: block !important;
    animation: showmenu .35s ease-in-out;
}

.hide{
    /*!important overrides all*/
    /*display: block !important;*/
    animation: hidemenu .35s ease-in-out;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex a{
    color: white
}

@keyframes showmenu {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0%);
    }
}

/*rotate(90deg)  */
@keyframes hidemenu {
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(100%);
    }
}

@keyframes move {
    100%{
        transform: rotate(360deg);

    }
/* 
    20%{
        transform: rotate(300px 0px);
        
    }

    60%{
        transform: rotate(300px 300px);
        
    }

    80%{
        transform: rotate(0px 300px) ;
        
    }

    100%{
        transform: rotate(300px 0px)
        
    } */
}

#rotate{
    width: 300px;
    height: 300px;
    margin-top: 10%; 
    animation: move 0.7s ease-in-out infinite;
}

#close{

}

    

